.table {
    margin-top: 10px;
    width: 100%;
    border-spacing: 0px 12px;
    border-collapse: separate;
    border-radius: 8px;
    background-color: #fff;
    &-head {
        color: #197bbd;
        font-size: 14px;
        & th {
            border-bottom: 2px solid black;
        }
    }

    &-data-container {
        font-size: 14px;
    }

    &-body {
        & tr:nth-child(2n + 1) {
            background-color: #f8ecec;
        }
        & tr {
            cursor: pointer;
            height: 30px;

            &:hover {
                background-color: red;
            }
        }
    }
}

.wrapper {
}

.container {
}
